body {
    background: black;
    color: lightgray;
}

#plansza {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    font-family: 'Cutive Mono';
}
#wisielec {

    float: left;
    width: 450px;
    text-align: center;
    min-width: 450px;
}
#wisielec img{
    width: 450px;
}
#alfabet {
    float: left;
    width: 450px;
    text-align: center;
    font-size: 29px;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.litera{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.litera:hover{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}
.reset{
    color: green;
    cursor: pointer;
    font-size: 48px;

}

.reset:hover{
    color: white;
}
input[type="text"] {
    display: inline;
    margin: 0;
    width: 50%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
}
input[type="submit"] {
    font-size: 18px;

}